<a href="https://colab.research.google.com/github/prakha10/data-visualization.github.io/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [2]:
import numpy as np

df1 = pa.get_dummies(data = df)

X = np.array(df1)

X

array([[  30, 1787,   19, ...,    1,    1,    0],
       [  33, 4789,   11, ...,    0,    1,    0],
       [  35, 1350,   16, ...,    0,    1,    0],
       ...,
       [  57,  295,   19, ...,    1,    1,    0],
       [  28, 1137,    6, ...,    0,    1,    0],
       [  44, 1136,    3, ...,    0,    1,    0]])

#What is the data type of the first column? Should you change it or is that the best data type.
# The first data type is age . we should change it because it is not the best data type for processing . it is quite ambigious .

#The second column is job could you assign an order to this string? Could you assign an order the the fourth column education. If yes, what order would you assign? Do so.
#

In [11]:
df.job.dtype
df.education.dtype

dtype('O')

In [3]:
df1.dtypes

age                    int64
balance                int64
day                    int64
duration               int64
campaign               int64
pdays                  int64
previous               int64
job_admin.             uint8
job_blue-collar        uint8
job_entrepreneur       uint8
job_housemaid          uint8
job_management         uint8
job_retired            uint8
job_self-employed      uint8
job_services           uint8
job_student            uint8
job_technician         uint8
job_unemployed         uint8
job_unknown            uint8
marital_divorced       uint8
marital_married        uint8
marital_single         uint8
education_primary      uint8
education_secondary    uint8
education_tertiary     uint8
education_unknown      uint8
default_no             uint8
default_yes            uint8
housing_no             uint8
housing_yes            uint8
loan_no                uint8
loan_yes               uint8
contact_cellular       uint8
contact_telephone      uint8
contact_unknown        uint8
month_apr              uint8
month_aug              uint8
month_dec              uint8
month_feb              uint8
month_jan              uint8
month_jul              uint8
month_jun              uint8
month_mar              uint8
month_may              uint8
month_nov              uint8
month_oct              uint8
month_sep              uint8
poutcome_failure       uint8
poutcome_other         uint8
poutcome_success       uint8
poutcome_unknown       uint8
y_no                   uint8
y_yes                  uint8
dtype: object

In [8]:
df.job.iloc[0]

'unemployed'

#Could any of the columns have been a boolean? Find one and create a new column in the dataframe that is just boolean and has a descriptive name.

In [12]:
a = True
b = False

print(a and b) #or a & b

print(a or b) # or a | b

print( not a ) # or ~a

False
True
False

In [16]:
df.marital =='married'

0        True
1        True
2       False
3        True
4        True
        ...
4516     True
4517     True
4518     True
4519     True
4520    False
Name: marital, Length: 4521, dtype: bool

In [17]:
(df.marital== 'married').dtype

dtype('bool')

In [23]:
df[df.marital == 'married'].head(10)

    age            job  marital  education  ... pdays  previous poutcome   y
0    30     unemployed  married    primary  ...    -1         0  unknown  no
1    33       services  married  secondary  ...   339         4  failure  no
3    30     management  married   tertiary  ...    -1         0  unknown  no
4    59    blue-collar  married  secondary  ...    -1         0  unknown  no
6    36  self-employed  married   tertiary  ...   330         2    other  no
7    39     technician  married  secondary  ...    -1         0  unknown  no
8    41   entrepreneur  married   tertiary  ...    -1         0  unknown  no
9    43       services  married    primary  ...   147         2  failure  no
10   39       services  married  secondary  ...    -1         0  unknown  no
11   43         admin.  married  secondary  ...    -1         0  unknown  no

[10 rows x 17 columns]

#Name one more interesting fact about this dataset and the datatypes.
# one intresting fact about this data set is that  most of the married ones are over 30 and have housing .