<a href="https://colab.research.google.com/github/prakha10/data-visualization.github.io/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pa



df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(10).T

                                              0  ...                                    9
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196112_e134aebd
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:26
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 10 columns]

In [38]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

#Converting the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [54]:
pa.to_datetime(df.noted_date)

0       2018-08-12 09:30:00
1       2018-08-12 09:30:00
2       2018-08-12 09:29:00
3       2018-08-12 09:29:00
4       2018-08-12 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

# finding the minimum and maximum date and time.

In [68]:
noted_date = df.noted_date
noted_date.max()

Timestamp('2018-12-10 23:55:00')

In [67]:
noted_date.min()

Timestamp('2018-01-11 00:06:00')

#The largest interval inbetween temperature checks

In [70]:
 df.temp.describe()

count    97606.000000
mean        35.053931
std          5.699825
min         21.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         51.000000
Name: temp, dtype: float64

In [76]:
largest_inter = (df.temp.max() - df.temp.min())
largest_inter

30

# finding the average datetime.

In [78]:
df.noted_date.mean()

Timestamp('2018-09-18 23:04:02.697989888')

# finding the average outside temperature on '09-11-2018.

In [83]:

pa.bdate_range(start='09-11-2018', end='09-11-2018')

DatetimeIndex(['2018-09-11'], dtype='datetime64[ns]', freq='B')